# Gradle / 构建产物
.gradle/
build/
*/build/
app/build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
out/

# Android Studio 本地配置
.navigation/
.something

# 签名文件（千万别传）
*.jks
*.keystore
*.pem
*.pk8
*.x509.pem

# 系统文件
.DS_Store
Thumbs.db

# 日志
*.log
